/*Fonts*/
@font-face {
    font-family: 'ProximaNova-Thin';
    src: url('fonts/ProximaNova-Thin.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('fonts/ProximaNova-Semibold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('fonts/ProximaNova-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MinionPro-Regular';
    src: url('fonts/MinionPro-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

/*Get rid of white margin upon resize. */
@media (max-width: 767px){
    body {
        padding-right: 0px;
        padding-left: 0px;
    }
 }

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-family: 'ProximaNova-Thin', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.fullscreen {
    padding: 0 0px;
    width: 100%;
    height: 100%;
    position: relative;
    /*background-color: #B84C41;*/
}

.large-screen-name {
    margin-top: 150px;
}

.small-screen-name {
    margin-top: 50px;
}

#name {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 40pt;
}

#img1 {
    margin: 0 8px;
    height: 30px;
    width: 30px;
}

#img2 {
    margin: 0 8px;
    height: 30px;
    width: 30px;
}

#img3 {
    margin: 0 8px;
    height: 30px;
    width: 30px;
}

.shadow {
    border: 2px;
    border-radius: 3px;
    -moz-box-shadow:    0px 0px 1px 0px #ccc;
    -webkit-box-shadow: 0px 0px 1px 0px #ccc;
    box-shadow:         0px 0px 1px 0px #ccc;
    margin-top: 25px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.smaller-font {
    font-size: 12pt;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'ProximaNova-Semibold', sans-serif;
}

.projects h2 {
	font-family: 'ProximaNova-Thin', sans-serif;	
}

.slider-block {
	padding: 8px 0;
}

.round-btn{
	border-radius: 300px;
	border: 1px solid #333739;
	padding: 6px 8px;
	margin: 0 5px;
	font-size: 16px;
	color: #333739;

	/*webkit stuff*/
	-webkit-transition: color .2s;
    -moz-transition:    color .2s;
    -ms-transition:     color .2s;
    -o-transition:      color .2s;
    transition:         color .2s;
    -webkit-transition: background-color 0.2s ease;
    -moz-transition: background-color 0.2s ease;
    -o-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
    }

.round-btn:hover {
	text-decoration: none;
	color: #fff;
	background-color: #333739;
}

.round-btn:focus {
	text-decoration: none;
	color: #333739;
	background-color: #FFF;
}

.dash {
    border-bottom: 3px solid #272627;
    margin: 35px auto auto;
    overflow: visible;
    width: 30px;
}

.main-slick {
    margin-top: 10px;
}

.connect-list {
    padding-top: 20px;
}

.topic-image {
	margin-left: auto;
	margin-right: auto;
	padding-top: 6px;
}

.getdownthere {
  width: 100%;
  margin-top: 70px;
  border-top: 1px solid #D4D4D4; padding-top:5px;
}

.resume p,span,li {
	font-family: 'MinionPro-Regular', sans-serif;	
}