<!DOCTYPE html>
<html lang="en"> 
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap-responsive.css" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link href='http://fonts.googleapis.com/css?family=Poiret+One|Ubuntu|Maven+Pro|Oxygen|Open+Sans' rel='stylesheet' type='text/css'>

	<title> Curriculum Vitae | Desmond Duggan </title>


	<style type="text/css">
		.container {
			/*font-family: 'Poiret One', cursive;*/
			/*font-family: 'Ubuntu', sans-serif;*/
			font-family: 'Maven Pro', sans-serif;
			/*font-family: 'Oxygen', sans-serif;*/
			/*font-family: 'Open Sans', sans-serif;*/
		}

		.text-center {
			text-align: center;
		}



	</style>
</head>


<body>

{{ content }}

</body>





<!-- Scripts -->
<script type="text/javascript" src="/js/jquery.min.js"></script>
<!-- <script type="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script> -->
<script type="text/javascript" src="/js/bootstrap.js"></script>

</html>