<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Practice your typing skills with this webapp. ">
    <meta name="author" content="Desmond Duggan">

    <title>Type Practice</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">

    <style type="text/css">
      body {
        overflow-x: hidden;
      }


      .data-icon {
        font-size: 35px;
      }

      .data-text {
        font-size: 40px;
      }

    </style>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
        <a class="navbar-brand" href="/">DD</a>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          {{ content }}

        </div>
      </div>
    </div>

    {{ javascript }}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>


<script type="text/javascript">


  function restart() {
      // reset all vars
      wordFound = false;
      started = false;
      startTime = 0;
      wordCount = 0;
      errorCount = 0;
      totalSeconds = 0;
  }
  
  $( document ).ready(function() {
    $("#retry-btn").click(function() {
      var txt = $("#game-left").text().trim();
      var firstWord = txt.split(' ')[0];
      $("#game-active").html(firstWord);

      var theRest = txt.replace(firstWord, "");

      $("#game-right").html(theRest);
      $("#input-area").hide();
      $("#main-text").show();

      $("#game-input").removeAttr("disabled");
      $("#game-input").focus();
      $("#game-left").text("");

      restart();
      $("#wpm").text("");
      $("#accuracy").text("");
      $("#totalSeconds").text("");
    });

    $("#go-btn").click(function() {
      var txt = $("#input-area").val().trim();
      txt = txt.replace(/[^A-Za-z 0-9 \.,\?""!@#\$%\^&\*\(\)-_=\+;:<>\/\\\|\}\{\[\]`~]*/g, '')
      var firstWord = txt.split(' ')[0];
      $("#game-active").html(firstWord);

      var theRest = txt.replace(firstWord, "");

      $("#game-right").html(theRest);
      $("#input-area").hide();
      $("#main-text").show();

      $("#game-input").removeAttr("disabled");
      $("#game-input").focus();
    });

    var wordFound = false;
    var started = false;
    var startTime;
    var errorCount = 0;
    var totalSeconds = 0;

    $('#game-input').on("input", function(e) {
      if (!started) {
        started = true;
        startTime = new Date().getTime()
        $("#go-btn").attr("disabled", "disabled");
      }

      var currentWord = $("#game-active").text();
      var value = $("#game-input").val();
      var currentMatch = currentWord.substring(0, value.length);    

      // Spaced button was pressed after succesfuly typing a word
      if (wordFound && (value == currentWord + " ")) {
        // Update the paragraph
        $("#game-left").text($("#game-left").text() + " " + $("#game-active").text());
        var txt = $("#game-right").text();
        var firstWord = txt.trim().split(' ')[0];
        $("#game-active").text(firstWord);
        var theRest = txt.replace(firstWord, "");
        $("#game-right").text(theRest);
        $("#game-input").val("");

        // game over
        if (firstWord.length == 0) {
          var finishTime = new Date().getTime();
          totalSeconds = (finishTime - startTime)/1000.0;

          var totalWords = ($("#input-area").val().trim().length-errorCount) / 5.0;

          $("#game-input").attr("disabled", "disabled");

          $("#totalTime").text(" "+parseInt(totalSeconds)+" seconds");

          restart();
          // // reset all vars
          // wordFound = false;
          // started = false;
          // startTime = 0;
          // wordCount = 0;
          // errorCount = 0;
          // totalSeconds = 0;
          return;
        }

        // Update WPM
        var curTime = new Date().getTime();
        totalSeconds = (curTime - startTime)/1000.0;
        var totalWords = ($("#game-left").text().length-errorCount) / 5.0;
        $("#wpm").text(" "+parseInt((totalWords)*(60.0/totalSeconds)));

        // Update Accuracy
        var totChars = parseFloat($("#game-left").text().length);
        var totErrs = parseFloat(errorCount);
        $("#accuracy").text(" "+parseInt((totChars - totErrs)*100/totChars));

        return;
      }

      // Fixed your fucked up, good job. 
      if (currentMatch == value) {
        $("#game-input-parent").removeClass("has-error");
        wordFound = true;
        return;
      }
      // You fucked up
      else {
        $("#game-input-parent").addClass("has-error");
        errorCount ++;
        return;
      }

    });

    $("#new-btn").click(function() {
      var txt = $("#input-area").val("");

      $("#game-right").text("");
      $("#game-active").text("");
      $("#game-left").text("");
      $("#input-area").show();
      $("#main-text").hide();

      $("#game-input").removeAttr("disabled");
      $("#go-btn").removeAttr("disabled");
    });

  });

</script>

  </body>
</html>
